# Nunca use valores reais neste arquivo.
# Configure os valores como segredos nas Cloud Functions.
MERCADOPAGO_API_URL=https://api.mercadopago.com
MERCADOPAGO_WEBHOOK_URL=https://REGION-PROJECT.cloudfunctions.net/mercadoPagoWebhook
MERCADOPAGO_ACCESS_TOKEN=adicione_o_access_token_no_secret_manager
MERCADOPAGO_WEBHOOK_SECRET=adicione_a_chave_secreta_do_webhook_no_secret_manager
RESEND_API_KEY=configure_como_segredo_da_function
EMAIL_FROM=Kóòpremios <confirmacao@seu-dominio.com>
ADMIN_UIDS=adicione_o_uid_do_administrador
